@inherits LayoutComponentBase

<PageTitle>MonResto</PageTitle>

<div class="page pb-5">
    <NavMenu />
    <div class="main">
        <div class="content container">
            @Body
        </div>
    </div>
</div>
